/*Default*/
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); /*Responsive grid media query*/
    grid-template-rows: repeat(auto-fill, minmax(100px,1fr));
    /* place-items: stretch stretch; */
     /*Innehållet*/
     /* justify-content: center;
     align-content: center; */
    text-align: center;
    grid-gap: 20px;

}
/*Header och Nav*/
header{
    grid-column: 1/-1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 2fr 1fr 10px;
    align-items: center;
    justify-content: end;
    background: linear-gradient(to left, yellow 50%,black 50%);
    z-index: 2;
}
.center{
    color:black;
    grid-column: 2;
}
.toggle{
    width: 80px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 3;
    position: fixed;
    transition: ease-in-out;
}
.burger1,.burger2,.burger3{
    width: 50px;
    margin: 5px;
    padding: 4px;
    background-color: yellow;
    transition: 0.5s ease;
}
.change .toggle{
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.change .burger1{
    transform: rotate(-45deg) translate(-18px, 18px);
}
.change .burger2{ opacity: 0;}

.change .burger3{
    transform: rotate(45deg) translate(-20px, -20px);
}
.sidenav{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: auto;
    z-index: 1; /* Needs to sit above the hamburger menu icon */
    background-color: black;
    transform: translateX(-710px);
    transition: all .6s ease-in-out;
    
}
.sidenav ul {
    padding: 0;
    margin-top: 100px;
    list-style-type: none;
}
.sidenav li{
    padding: 15px 10px 10px 30px;
}
.sidenav li a {
    color: yellow;
    padding-bottom: 3px;
}
.sidenav li:focus {
    cursor: pointer;
}
.active {
    transform: translateX(0);
}
.horisontellnav{
    display: none;
}


a::after {
    content: '';
    display: block;
    margin: auto;
    height: 4px;
    width: 0px;
    background: transparent;
    transition: width 0.2s ease, background-color 0.2s ease;
}
a:hover::after {
    width: 100%;
    background: red;
}
/*LITEN SKÄRM*/
@media screen and (min-width: 720px){
    .toggle{
        display: none;
    }
    .sidenav {
        display: none;
      }
      .horisontellnav{
        grid-column: 1 / -1;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .horisontellnav a{
        color: black;
        padding-bottom: 3px;
    }
    .inputfield{
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: left;
    }
    .inputfield > *{
        padding: 2rem;
    }
} /*Stor skärm*/


/* Contact */
.inputfield{
    grid-column: 1/ -1;
    box-shadow: 0 0 30px 0 rgba(72, 94, 116, 0.7);
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-content: center;
}
.inputfield > *{
    padding: 1rem;
}
.info{
    background-color: rgba(255, 255, 53, 0.63);

}
.info h3, .info ul{
    margin: 0 1rem 1rem 0;
}
ul{
    padding: 0;
}
/* FORM*/
.contact form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.contact form label{
    display: block;
}
.contact form .wide{
    grid-column: 1/3;
}
.contact form button,.contact form input, .contact form textarea{
    width: 100%;
    padding: 1rem;
}
.button{
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    order: 2;
}
.button:hover{
        background-color:#4095c6;
}
/*Footer*/
.camera{
    font-size: 2rem;
}
footer{
    grid-column: 1/-1;
    grid-row-end: auto;
}
.adress{
    padding: 2rem;
}
