.carouselbox {
    display: grid;
    /* grid-template-columns: 25px 1fr 25px; */
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  .content {
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;
  }
  .content li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .active ol li {
    position: absolute;
  }
  .active li.current {
    top: 0;
  }
  .prev, .next {
    padding: 5px;
    margin: auto;
    background: #eee;
    z-index: 10;
    position: relative;
    border-radius: 5px;
  }
  .prev{
    grid-column: 1;
  }
  .next{
    grid-column: 3;
  }
  /* .active button {
    display: block;
  }  */
figcaption{
  color: white;
}